<!-- Page Title Header Starts-->
<div class="row page-title-header">
    <div class="col-12">
        <div class="page-header">
            <h4 class="page-title">Dashboard</h4>
        </div>
    </div>
</div>
<!-- Page Title Header Ends-->
<div class="row">
    <div class="col-md-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="d-flex">
                            <div class="wrapper">
                                <h3 class="mb-0 font-weight-semibold">4</h3>
                                <h5 class="mb-0 font-weight-medium text-primary">Drivers</h5>
                            </div>
                            <div class="wrapper my-auto ml-auto ml-lg-4">
                                <canvas height="50" width="100" id="stats-line-graph-1"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mt-md-0 mt-4">
                        <div class="d-flex">
                            <div class="wrapper">
                                <h3 class="mb-0 font-weight-semibold">40</h3>
                                <h5 class="mb-0 font-weight-medium text-primary">Onwers</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mt-md-0 mt-4">
                        <div class="d-flex">
                            <div class="wrapper">
                                <h3 class="mb-0 font-weight-semibold">30</h3>
                                <h5 class="mb-0 font-weight-medium text-primary">Vehicles</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mt-md-0 mt-4">
                        <div class="d-flex">
                            <div class="wrapper">
                                <h3 class="mb-0 font-weight-semibold">2</h3>
                                <h5 class="mb-0 font-weight-medium text-primary">Users</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-0"></h4>
                <div class="d-flex flex-column flex-lg-row" id="map" style="height: 600px">
                    
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        xit.files.readJsonFile('Config/locations.config.json').then(function (content) {
            xit.storage.saveItem('locationModels', content)
        }).catch(function (error) {
            alert(error)
        })
    })
    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 6,
            center: new google.maps.LatLng(1.2921, 36.8219),
            mapTypeId: google.maps.MapTypeId.ROADMAP
        });
        var infowindow = new google.maps.InfoWindow()
        var marker, i
        
        JSON.parse(xit.storage.getValue('locationModels')).forEach(locationModel => {
            marker = new google.maps.Marker({
                position: new google.maps.LatLng(locationModel.lat, locationModel.lon),
                map: map
            })
            google.maps.event.addListener(marker, 'click', (function (marker) {
                return function () {
                    alert(locationModel.name)
                    //   infowindow.setContent(locationModel.name);
                    //   infowindow.open(map, marker);
                }
            }));
        })
    }
</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwP5r6-nHIE8Jbjzwbbdf8lv2RUj1WbNE&callback=initMap"></script>